<%- include('../../v_layout/head') %>
<%- include('../../v_layout/olshop-header') %>
<script src="/js-tambahan/jquery.js"></script>

<body class="bg-body-secondary">
    <div class="container my-5">
        <h1 class="mb-4">Keranjang belanjaan kamu</h1>
        <div class="row">
            <div class="col-lg-8">
                <% for( let i in detailProduk_keranjang ) { %>
                    <div class="card border-0 mb-3">
                        <div class="row g-0">
                            <div class="col-md-3 text-center p-4">
                                <img src="/upload/produk-foto/<%= detailProduk_keranjang[i].foto1 %>" class="img-fluid rounded-start" style="height: 100px; object-fit: contain;" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h4 class="card-title"><%= detailProduk_keranjang[i].produk_nama %></h4><hr>
                                    <div class="row">
                                        <div class="col-6">
                                            <span class="card-text">
                                                <b id="harga_text<%= i %>">
                                                    Rp<%= Number(detailProduk_keranjang[i].harga).toLocaleString('id-ID') %>
                                                </b>
                                            </span><br>
                                            <input type="hidden" class="harga_satuan" id="harga<%= i %>" value="<%= detailProduk_keranjang[i].harga %>">
                                            <input type="hidden" id="harga_kalkulasi<%= i %>">
                                            <small class="card-text">stok: <%= detailProduk_keranjang[i].stok %></small><br>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-2">
                                                    <a href="" class="btn btn-sm btn-outline-danger">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </div>
                                                <div class="col-10">
                                                    <input type="number" name="form_qty" value="<%= detailProduk_keranjang[i].qty %>" class="form-control form-control-sm qty_satuan" data-idkeranjang="<%= i %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- kalkulasi harga & qty belanjaan -->
            <div class="col-lg-4">
                <div class="card border-0">
                    <div class="card-body">
                        <h5><b>Ringkasan belanja</b></h5>
                        <div class="row">
                            <div class="col-6">Total Harga</div>
                            <div class="col-6 text-end total_harga"></div>
                        </div>
                        <div class="row">
                            <div class="col-6">Total Qty</div>
                            <div class="col-6 text-end">xxx</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-grid gap-2">
                                    <a href="#" class="btn btn-block btn-success">Bayar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).on('change', '.qty_satuan' , function() {
            let qty             = $(this).val()
            let idkeranjang     = $(this).data('idkeranjang')
            let harga           = $(`#harga${idkeranjang}`).val()
            let harga_kalkulasi = qty * harga
            // assign ke html
            $(`#harga_text${idkeranjang}`).html('Rp'+Number(harga_kalkulasi).toLocaleString('id-ID'))
            // assign ke inputan kalkulasi
            $(`#harga_kalkulasi${idkeranjang}`).val(harga_kalkulasi)
        })
    </script>
</body>

<%- include('../../v_layout/olshop-footer') %>
<%- include('../../v_layout/foot') %>